<h1>My tamagotchies</h1>
<h3>Add a new tamagotchi:</h3>
<form action="/tamagotchies" method="post">
  <label for="new-tamagotchi">Tamagotchi Name:</label>
  <input id="new-tamagotchi" name="new-tamagotchi" type="text">
  <button type="submit">Submit</button>

</form>
